In [5]:
# 파이썬에서 함수도 객체로 존재
def print_hello(name):
    print(f'{name}님 안녕하세요?')

my_func = print_hello # 함수의 이름은 함수객체에 대한 주소

def receive_func(f):  # 매개변수(지역변수)
    f('이게 호출되나?')

receive_func(print_hello)

이게 호출되나?님 안녕하세요?

In [6]:
# 람다함수는 익명함수니까 이름이 없음
# 함수의 바디는 한줄의 문장만 작성
def calc_sum(a, b):    
    return a + b

func = lambda a, b: a + b
func(10, 20)

30

In [8]:
def square_num(n):
    print(n)
    return n**2

lst = [1, 2, 3, 4] # => 1, 4, 9, 16 

list(map(square_num, lst)) # map은 lst에 요소를 하나씩 가져와서 square_num을 호출
                     # square_num의 반환값을 모아서 map 객체가 된다.

1
2
3
4

[1, 4, 9, 16]

In [9]:
def square_num(n):    
    return n**2

# lambda n: n**2

lst = [1, 2, 3, 4]
list(map(lambda n: n**2, lst))

[1, 4, 9, 16]

In [11]:
lst = [10, 7, 6, 20, 12, 5]

# 정렬에 사용하는 함수
sorted_lst = sorted(lst)   # 정렬된 새로운 리스트를 반환환
print(sorted_lst)
print(lst)

lst.sort()
print(lst)

[5, 6, 7, 10, 12, 20]
[10, 7, 6, 20, 12, 5]
[5, 6, 7, 10, 12, 20]

In [14]:
lst = [('홍길동', 22), ('권예경', 26), ('문빈', 20), ('김철수', 25)]
sorted(lst)
sorted(lst, reverse=True)
sorted(lst, key=lambda x: x[1])

[('문빈', 20), ('홍길동', 22), ('김철수', 25), ('권예경', 26)]

In [15]:
lst = 'samsung software accademy for youth'.split()

['samsung', 'software', 'accademy', 'for', 'youth']

In [ ]:
input().split()  # 공백을 기준으로 문자열을 분할해서 리스트로 반환환

['10', '20', '30', '40']

In [18]:
list(map(int, input().split()))

[10, 20, 30, 40]

In [25]:
# iterable 데이터 확인하려면 for문으로 확인

for item in 'hello':
    print(item)
for item in [1, 2, 3]:
    print(item)
for item in (1, 2, 3):
    print(item)
for item in {1, 2, 3}:
    print(item)
for item in {'name': 1, 'age': 2, 'address': 3}:
    print(item)

h
e
l
l
o
1
2
3
1
2
3
1
2
3
name
age
address

['name', 'age', 'address']